<div>
  <img src="../../../assets/help2.jpg" style="width: 100%; height: 600px;" alt="">
  <h1 style="position: absolute; top: 500px; padding-left: 30px; color: white; font-size: 70px;">How can we help you?</h1>
</div>
    <br><h3 style="color: blueviolet; padding: 0 0 25px 25px;">NeST Digital Development Centers</h3>
    <div class="row">
      <div class="col">
       <div class="card" style="width: 15rem;">
         <div class="card-body">
          <p class="card-text">NeST Towers, University junction,Kalamassery, Kochi, Kerala,India – 682 033
         <br><br>Ph: +91-4846701000</p>
      </div>
    </div>
  </div>
  <div class="col">
      <div class="card" style="width: 15rem;">
        <div class="card-body">
         <p class="card-text">NeST Tech Park, NeST Valley,Near Infopark, Infopark P.O,Kakkanad, Kochi, Kerala,India – 68204
        <br><br>Ph:+914844203333</p>
     </div>
   </div>
 </div>
 <div class="col">
  <div class="card" style="width: 15rem;">
    <div class="card-body">
     <p class="card-text">Unit 4, 1st Floor, Cresent 1, Prestige Shantiniketan, Sadaramangala Village, Whitefield, Bangalore – 560048
    <br><br>Ph: +91-4846701000</p>
 </div>
</div>
</div>
<div class="col">
  <div class="card" style="width: 15rem;">
    <div class="card-body">
     <p class="card-text">A-3, Periyar, Technopark Campus, Karyavattom, Trivandrum, Kerala, India -695 581
    <br><br>Ph:- 0471-2527441 <br>Fax :- 0471-2700442</p>
    
    </div>
  </div>
</div>
  </div>
  <br>
  <br>
  <h3 style="color: blueviolet; padding: 0 0 25px 25px;">NeST Digital Development Centers</h3>
  <div class="row">
      <div class="col">
       <div class="card" style="width: 18rem;">
         <div class="card-body">
          <p class="card-text">NeST Towers, University junction,Kalamassery, Kochi, Kerala,India – 682 033
         <br><br>Ph: +91-4846701000</p>
      </div>
    </div>
  </div>
  <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
         <p class="card-text">NeST Tech Park, NeST Valley,Near Infopark, Infopark P.O,Kakkanad, Kochi, Kerala,India – 68204
        <br><br>Ph:+914844203333</p>
     </div>
   </div>
 </div>
 <div class="col">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
     <p class="card-text">Unit 4, 1st Floor, Cresent 1,Prestige Shantiniketan,Sadaramangala Village,Whitefield, Bangalore – 560048
    <br><br>Ph: +91-4846701000</p>
 </div>
</div>
</div>
<div class="col">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
     <p class="card-text">Unit 4, 1st Floor, Cresent 1,Prestige Shantiniketan,Sadaramangala Village,Whitefield, Bangalore – 560048
    <br><br>Ph:- 0471-2527441 <br>Fax :- 0471-2700442</p>
    </div>
  </div>
</div>
  </div>
  <br><br>